@using BTCPayServer

@{
    ViewData.SetActivePage("Strike", "Configure", "Configure");
    var storeId = Context.GetCurrentStoreId();
}

<div class="alert alert-success mb-4 text-break" role="alert">
    <span>
		Configure Strike plugin <a asp-controller="UIStores" asp-action="SetupLightningNode" asp-route-storeId="@storeId" asp-route-cryptoCode="BTC" class="link-secondary" style="text-decoration: underline">here</a>.
    </span>
</div>

<div>
	<ul>
		<li>Visit <a href="https://dashboard.strike.me/login">Strike Dashboard</a> and obtain API key. Select all scopes under <strong>Account</strong>, <strong>Receiving payments</strong> and <strong>Rates</strong>.</li>
		<li>Optionally select scopes under <strong>Sending payments</strong> to enable payments triggered by BTCPayServer (payouts, BOLT cards, etc.)</li>
	</ul>
	<blockquote>
		<p>
			⚠️ <strong>Owner of this BTCPayServer instance can access your API key.</strong>
			Therefore they could spend your Strike balance if <strong>Sending payments</strong> scopes are selected
		</p>
	</blockquote>
	<p><img src="https://raw.githubusercontent.com/Marfusios/strike-btcpayserver-plugin/master/docs/api_key_dark.png" alt="ApiKey"></p>
	<ul>
		<li>Install Strike plugin from the <code>Manage Plugins</code> page (or ask a BTCPayServer admin)</li>
	</ul>
	<p><img src="https://raw.githubusercontent.com/Marfusios/strike-btcpayserver-plugin/master/docs/install_dark.png" alt="Install Strike plugin"></p>
	<ul>
		<li>
			<p>Then go to <code>BTCPayServer &gt; Lightning &gt; Settings &gt; "Change connection" &gt; "Use custom node"</code> and configure Strike connection. Follow this format:</p>
<pre><code>type=strike;convert-to=USD;api-key=xxx
</code></pre>
			<p>
				Where <b>xxx</b> is your API key.
				Optionally set <b>convert-to</b> to fiat currency that you want received payments to be converted to (e.g. USD, EUR, etc.)
			</p>
		</li>
	</ul>
	<p><img src="https://raw.githubusercontent.com/Marfusios/strike-btcpayserver-plugin/master/docs/setup_dark.png" alt="Setup Strike connection"></p>
</div>
